<h1> Welcome <%= @user.name %> </h1>

<h2> Favorites </h2>

<ul>
  <% @favorites.each do |favorite| %>
    <li><a href="/recipes/<%=favorite.id%>"><%=favorite.name  %></a> <%= button_to "Remove Favorite", favorites_path(favorite), method: :delete %></li>
  <% end %>
</ul>
