/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Open Sans", sans-serif;
 }

 h2 {
   margin: 10px 10px 10px 10px;
   padding: 24px 12px;
 }

 .navbar{
   width: 95%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  float: left; /* Float the buttons side by side */
 }

 .btn-group {

 }

 .btn-group input{
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 5%;

}

 .section{
   width: 80%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: left;
 }

 .recipe-field {
   height: 120px;
   margin: 10px 10px 10px 10px;
   padding: 12px 24px;
 }

 .recipe-field label {
   vertical-align: top;
 }

 .recipe-field textarea {
   height: 90px;
   width: 75%;
   padding: 6px 6px;
 }

 .recipe-field input {
   height: 30px;
   width: 75%;
 }
